{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block title %}Delete post "{{ post.title }}"{% endblock %}

{% block content %}
    <form action="{% url 'main:post_delete' post.id %}" method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete <b>"{{ post.title }}"</b></h3>
        <a href="{% url 'main:posts_list' %}" class="btn btn-primary" type="submit">Cancel</a>
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
{% endblock %}