{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit post "{{ post.title }}"{% endblock %}

{% block content %}
    <form action="{% url 'main:post_update' post.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Update post</button>
    </form>
{% endblock %}